*.gem
Gemfile.lock
spec/fixtures/smoke_project/build/*
!spec/fixtures/smoke_project/build/.gdignore
spec/fixtures/smoke_project/.godot/
.bundle/
vendor/bundle/
fastlane/report.xml
fastlane/test_output/
.DS_Store
